body
{
    background : rgb(50, 50, 50);
    color : white;
    font-family:'Arial Narrow Bold', sans-serif;
}

.link 
{
    font-size: 180%;
    border: 1px solid rgb(33, 169, 79);
    text-align: center;
    width: 18.75rem;
    height: 12.625rem;
    margin: 0.7rem;
    border-radius: 0.7rem;
    background: transparent;
    position: relative;
    overflow:hidden;
}

.link::before
{
    position: absolute;
    content:'';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: rgb(33, 169, 79);
    z-index: -1;
    transition: ease-out 100ms;
}

.onglet
{
    transition: 400ms;
    text-decoration: none;
    color: white;

    width:303px;
    height: 202px;
    display:inline-block;

    line-height: 6.5;
}

.onglet:focus::before{
    background: transparent;
}

.link:hover::before
{
    /* background-color: rgb(39, 39, 39); */
    height: 100%;
}

.link:active
{
    background-color: rgb(30, 30, 30);
}

.onglet:hover
{
    font-size:104%;
}

.alignement 
{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

.alignement-head
{
    display: flex;
    flex-wrap:wrap;
}

.pp
{
    border-radius: 30px;
    transition: 400ms;
}

.pp:hover
{
    cursor: zoom-in;
    width: 80px;
    height: 80px;
}

.home
{
    outline:none;
    text-decoration:none;
    background:rgb(43, 179, 89);
    color: black;

    width: 70px;
    height: 40px;
    display:inline-block;
    
    line-height:2.5;
    text-align:center;
    border:solid black 3px;
    border-radius:20px;

}

.home:hover
{
    background:rgb(63, 199, 109);
    cursor: pointer;

}

.home:active
{
    background: black;
    color: white;
}

.paragraph
{
    margin-left: 15px;
}

strong.title
{
    font-size: 140%;
    line-height: 2.1;
}

.insta
{
    color: white;
    text-decoration: none;
}

.insta:hover{
    text-decoration: underline;
}
.onglet-head
{
    display:flex; /*rendre flexible tout les trucs à l'intérieur*/

    width: 90%;
    margin-left: 15px;
    margin-top: 20px;
    padding-bottom: 15px;

    gap: 20px;
    border-bottom: solid rgb(106, 106, 106) 3px;
}

.gray
{
    color:rgb(206, 206, 206)
}

.ligne
{
    display: flex;
    gap: 0px;
}

div.contact
{
    text-align:center;
    margin: auto;
    margin-top: 10%;

    width: 400px;
    height: min-content;
    padding: 1rem;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.address
{
    color: white;
    text-decoration: none;
}

.address:hover
{
    text-decoration: underline;
}

.skill
{
    font-family: 'Courier New', Courier, monospace;
    margin: 50px;
    border-left: solid white 4px;
    width: 700px;
    padding-bottom: 30px;
    padding-top: 1px;
    padding-left: 15px;
    transition: 0.7s;
    
}

.alignement-skill
{
    font-size: 19px;
    margin: 20px;
    display: flex;
    gap: 7px;
}

.paragraph-skillName
{
    margin-left: 15px;
    line-height: 1.36;
}

input.contact
{
    background-color: rgb(33, 169, 79);
    width: 130px;
    height: 50px;
    border-radius: 30px;
    font-size: 16px;
}

@keyframes name {
    from, to { color: hsl(324, 70%, 75%); }
    10%      { color: hsl(360, 65%, 75%); }
    20%      { color: hsl( 36, 80%, 75%); }
    30%      { color: hsl( 72, 75%, 65%); }
    40%      { color: hsl(108, 65%, 65%); }
    50%      { color: hsl(144, 75%, 65%); }
    60%      { color: hsl(180, 75%, 65%); }
    70%      { color: hsl(216, 60%, 75%); }
    80%      { color: hsl(252, 65%, 80%); }
    90%      { color: hsl(288, 60%, 70%); }
}

div.head
{
    display: flex;
    justify-content :center;
    gap: 20px;
    line-height: 1;
    width: 300px;
    animation: name 10s infinite;
}

@media (min-width: 640px) {
.alignement-head
{
    padding: 5px 30px 5px 30px;
    justify-content: space-between;
    align-items: top;
}}

.software
{
    padding: 60px;
}

.gmail
{
    color: white;
    text-decoration: none;
    transition: 5s;
}

.gmail:hover
{
    color: rgb(255, 60, 60);
    text-decoration: underline;
}

summary
{
    cursor: pointer;
    background-color: rgb(90, 90, 90);
    font-weight: bold;
    font-size: 26px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}


details > summary
{
    list-style-type: none;
}
/*
details[open] summary > *{
    animation: sweep .5s ease-out;
  }
  @keyframes sweep {
    0%    {opacity: 0; margin-left: -500px}
    100%  {opacity: 1; margin-left: 0px}
  }
*/
details > summary::after 
{
    position: absolute;
    content: "+";
    right: 26px;
}

details[open] > summary::after 
{
    position: absolute;
    content: "-";
    right: 26px;
}


td
{
    height: 50px;
    padding-left: 10px;
}

h2.skill
{
    margin-top: 0px;
    margin-bottom: 0px;
}

@keyframes borderColor{
    from, to { border: solid rgb(63, 199, 109, .10); }
    50% { border: solid rgb(63, 199, 109, .90); }
}

.project-image
{
    border-radius: 4px;
    border: solid rgb(63, 199, 109, .10);
    animation: borderColor 5s infinite;
}

a.leadcode
{
    color:rgb(206, 206, 206)
}

details 
{
    margin-top: 1rem;
}

ul.language-skill 
{
    list-style-type: none;
}

ul 
{
    font-size: 20px;
}